
.selected-tv-details{
    width: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-tv img{
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    background-color: gray;
}
.selected-img-name{
    display: flex;
}
.selected-img-name h3{
    margin-left: 20px
}
.delete-btn{
    font-size: 23px;
    cursor: pointer;
}
.choose-again-btn{
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 10px 0 10px 0;
    border: none;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    margin-top: 10px;
    color: gray;
}
.choose-again-btn:active{
    background-color: rgba(0, 0, 0, 0.123);
}

@media (max-width: 768px){
    .selected-tv-details{
        width: 250px;
    }
}