.main{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-gap: 50px;
    position: relative;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left: 15px;
    padding-bottom: 50px;
}
.cart-details-parent{
    height: 100%;
    background-color: #fff;
}
.cart-details{
    background-color: #fff;
    padding: 50px;
    position: sticky;
    top: 0;
}
.cart-details-head{
    margin-bottom: 50px
}

@media screen and (max-width: 768px){
    .main{
        grid-template-columns: auto;
    }
    .cart-container{
        grid-template-columns: auto;
        padding: 5px;
    }
    .cart-details{
        padding: 5px;
    }
}